
@{
    ViewBag.Title = "Request Time-Out Page";
}

<h1 class="text-danger">Request Time-Out.</h1>
<h2 class="text-danger">The request took time more than allowed 1 minute.</h2>

<div>
    @Html.ActionLink("Back to Bulk Insert Page", "BulkInsertOfRandomCustomersPage")
</div>

<div>
    @Html.ActionLink("Back to Bulk Insert Time Control Page", "BulkInsertOfRandomCustomersTimeControlPage")
</div>

<div>
    @Html.ActionLink("Go Top 1000 MVC Page", "GetTop1000")
</div>

<div>
    @Html.ActionLink("Go Top 1000 MVC Ajax Page", "GetTop1000AjaxMVC")
</div>

<div>
    @Html.ActionLink("Go Top 1000 Api Ajax Page", "GetTop1000AjaxApi")
</div>